/* App.css */

/* Navigation styling */
.nav {
  display: flex; /* Display navbar items in a row */
  justify-content: space-between; /* Distribute space between navbar items */
  align-items: center; /* Vertically center navbar items */
  background-color: #333; /* Set background to white */
  color: #ffffff; /* Set text color to black for better contrast */
  padding: 10px;
  position: relative; /* Add positioning context */
}

.Logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff; /* Set text color to white */
  font-size: 24px;
  font-weight: bold; /* Increased font weight for the logo */
}

.Logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

.menu-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative; /* Add positioning context */
}

.btn-line {
  width: 30px;
  height: 3px;
  background-color: #ffffff; /* Set button line color to white */
  margin: 6px 0;
  transition: transform 0.3s;
}

.menu-btn.active div:nth-child(1) {
  transform: rotate(0deg) translate(-5px, -5px);
}

.menu-btn.active div:nth-child(2) {
  opacity: 1;
}

.menu-btn.active div:nth-child(3) {
  transform: rotate(0deg) translate(-5px, -6px);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.breadcrumb-btn {
  width: 30px;
  height: 30px;
  font-size: 35px;
  color: #ffffff;
  cursor: pointer;
  transform: translateY(-10px);
  margin-left: 1000%; /* to push the humbergar menu to the very end */
}

.overlay.active {
  display: block;
}

.nav-links {
  display: flex; /* Display nav links in a row */
  align-items: center; /* Vertically center nav links */
  visibility: visible; /* Hide the nav links */
  opacity: 1;
  color: white;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  transition: color 0.5s; /* Added transition effect */
}

.nav-links a:hover {
  color: #ffd700; /* Set hover color to gold */
}

/* Responsive Navigation */
@media (max-width: 768px) {
  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px; /* Adjusted position */
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 2; /* Ensure it appears above the overlay */
  }
  .nav-links.active {
    visibility: visible; /* Show the nav links */
    opacity: 1;
  }
  .nav-links {
    visibility: hidden; /* Hide the nav links */
  }
  .menu-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .close-btn {
    font-size: 50px;
    z-index: 10;
  }
}

/* Desktop Navigation */
@media (min-width: 769px) {
  .menu-btn {
    display: none;
  }

  .nav-links {
    justify-content: space-between;
    width: 50%;
  }
}
